<form action="/edit" method="POST">
    <input type="email" name="email" placeholder="Email">
    <input type="submit" value="Modificar">
    <input type="hidden" name="csrf" value="{{token}}">
</form>